body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button.delete{
    border-radius: 3px;
    border: 2px solid darkred;
    background-color: darkred;
    color: white;
}
button.edite{
    border-radius: 3px;
    border: 2px solid blue;
    background-color: blue;
    color: white;
}
li{
    margin-bottom: 10px;
    background-color: rosybrown;
    border: 1px solid black;
    border-radius: 20px;
    padding: 0px 20px;
}
